image: node:latest

pages:
  stage: deploy
  before_script:
    - corepack enable
    - corepack prepare pnpm@latest --activate
    - pnpm config set store-dir .pnpm-store
  script:
    - pnpm install
    - pnpm run build
    - rm -rf public
    - mv dist public
  artifacts:
    paths:
      - public
  cache:
    key:
      files:
        - pnpm-lock.yaml
    paths:
      - .pnpm-store
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
