@font-face {
  font-family: "Satoshi";
  font-style: normal;
  font-weight: 400;
  src:
    local("Satoshi Regular"),
    url("/font/Satoshi-Regular.woff") format("woff");
}

@font-face {
  font-family: "Satoshi";
  font-style: italic;
  font-weight: 400;
  src:
    local("Satoshi Italic"),
    url("/font/Satoshi-Italic.woff") format("woff");
}

@font-face {
  font-family: "Satoshi";
  font-style: normal;
  font-weight: 300;
  src:
    local("Satoshi Light"),
    url("/font/Satoshi-Light.woff") format("woff");
}

@font-face {
  font-family: "Satoshi";
  font-style: italic;
  font-weight: 300;
  src:
    local("Satoshi Light Italic"),
    url("/font/Satoshi-LightItalic.woff") format("woff");
}

@font-face {
  font-family: "Satoshi";
  font-style: normal;
  font-weight: 500;
  src:
    local("Satoshi Medium"),
    url("/font/Satoshi-Medium.woff") format("woff");
}

@font-face {
  font-family: "Satoshi";
  font-style: italic;
  font-weight: 500;
  src:
    local("Satoshi Medium Italic"),
    url("/font/Satoshi-MediumItalic.woff") format("woff");
}

@font-face {
  font-family: "Satoshi";
  font-style: normal;
  font-weight: 700;
  src:
    local("Satoshi Bold"),
    url("/font/Satoshi-Bold.woff") format("woff");
}

@font-face {
  font-family: "Satoshi";
  font-style: italic;
  font-weight: 700;
  src:
    local("Satoshi Bold Italic"),
    url("/font/Satoshi-BoldItalic.woff") format("woff");
}

@font-face {
  font-family: "Satoshi";
  font-style: normal;
  font-weight: 900;
  src:
    local("Satoshi Black"),
    url("/font/Satoshi-Black.woff") format("woff");
}

@font-face {
  font-family: "Satoshi";
  font-style: italic;
  font-weight: 900;
  src:
    local("Satoshi Black Italic"),
    url("/font/Satoshi-BlackItalic.woff") format("woff");
}
