:root {
  /* --base-50: oklch(0.985 0.0013 286.84);
    --base-100: oklch(0.967 0.0027 286.38);
    --base-200: oklch(0.92 0.0053 286.32);
    --base-300: oklch(0.871 0.008 286.29);
    --base-400: oklch(0.705 0.012 286.07);
    --base-500: oklch(0.552 0.016 285.94);
    --base-600: oklch(0.442 0.0147 285.79);
    --base-700: oklch(0.37 0.012 285.81);
    --base-800: oklch(0.274 0.008 286.03);
    --base-900: oklch(0.21 0.0053 285.89);
    --base-950: oklch(0.141 0.004 285.83);
    --base-1000: oklch(0.096 0.0027 285.79); */

  --base-50: oklch(0.985 0 22.65);
  --base-100: oklch(0.97 0 23.07);
  --base-200: oklch(0.9224 0 23.19);
  --base-300: oklch(0.8696 0 23.46);
  --base-400: oklch(0.7084 0 23.42);
  --base-500: oklch(0.5545 0 24.17);
  --base-600: oklch(0.4411 0 24.82);
  --base-700: oklch(0.3722 0 24.37);
  --base-800: oklch(0.2686 0 23.43);
  --base-900: oklch(0.2096 0 23.33);
  --base-950: oklch(0.1458 0 22.58);
  --base-1000: oklch(0.1043 0 22.82);

  --background: oklch(1 0 0);
  --foreground: var(--base-800);
  --card: oklch(1 0 0);
  --card-foreground: var(--base-800);
  --popover: oklch(1 0 0);
  --popover-foreground: var(--base-800);
  --primary: var(--base-950);
  --primary-foreground: oklch(1 0 0);
  --secondary: var(--base-100);
  --secondary-foreground: var(--base-800);
  --muted: var(--base-50);
  --muted-foreground: var(--base-600);
  --accent: var(--base-50);
  --accent-foreground: var(--base-800);
  --destructive: oklch(0.577 0.245 27.325);
  --border: var(--base-200);
  --input: var(--base-300);
  --ring: var(--base-950);
  --radius: 0.5rem;

  --font-sans: "Satoshi", system-ui, -apple-system, sans-serif;
  --font-heading: var(--font-sans);
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, monospace;
}

.dark {
  --background: var(--base-950);
  --foreground: var(--base-200);
  --card: var(--base-950);
  --card-foreground: var(--base-200);
  --popover: var(--base-950);
  --popover-foreground: var(--base-200);
  --primary: var(--base-50);
  --primary-foreground: var(--base-900);
  --secondary: var(--base-800);
  --secondary-foreground: var(--base-200);
  --muted: var(--base-900);
  --muted-foreground: var(--base-400);
  --accent: var(--base-900);
  --accent-foreground: var(--base-200);
  --destructive: oklch(0.704 0.191 22.216);
  --border: var(--base-800);
  --input: var(--base-700);
  --ring: var(--base-50);
}

@theme inline {
  --color-base-50: var(--base-50);
  --color-base-100: var(--base-100);
  --color-base-200: var(--base-200);
  --color-base-300: var(--base-300);
  --color-base-400: var(--base-400);
  --color-base-500: var(--base-500);
  --color-base-600: var(--base-600);
  --color-base-700: var(--base-700);
  --color-base-800: var(--base-800);
  --color-base-900: var(--base-900);
  --color-base-950: var(--base-950);
  --color-base-1000: var(--base-1000);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}
